@charset "UTF-8";

/* 全体の設定 */
body{
	height:100%;
	padding:0px;
	margin:0px;
}

/* ヘッダーの設定 */
.header{
	display:flex;
	height:15%;
	background:black;
	color:white;
	justify-content: space-between;
    align-items: center; 
}

.header h1{
	margin:0px;
}

.nav{
	display:flex;
}

.nav p{
	margin:15px;
	margin:15px;
}

/* メインの設定 */
.main{
	font-size:50px;
	font-family: 'Times New Roman', Times, serif;
	display: flex;
    flex-direction: column; /* 子要素を縦に配置 */
    align-items: center; /* 中央揃え */
    height: 100vh; /* 画面の高さいっぱいに */
    justify-content: center; /* 中央揃え */
}

 .main h1, .main p {
    margin: 0; /* デフォルトのマージンを削除 */
    text-align: center; /* 中央揃え */
}