<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>HOME</title>
<link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="header">
        <div class="title">
            <h1><a href="/">HOME</a></h1>
        </div>
        <div class="nav">
            <p><a href="/form">お問い合わせ</a></p>
            <p><a th:href="@{/administrator}">管理者画面</a></p>
        </div>
    </div>
    <div class="main">
        <h1>HOME PAGE</h1>
        <p>~初めての自作WEBアプリ~</p>
    </div>
</body>
</html>